{% import "bootstrap/wtf.html" as wtf %}
{% macro render_list_and_form(title, ls, form, suffix) %}
    <div class="container">
        <div class="row">
                <h3>{{ title }}</h3>
                <ol class="list-group">
                    {% for item in ls %}
                    <li class="list-group-item"> {{ item[0] }}</li>
                    {% endfor %}
                </ol>
        </div>
    </div>
    {{ wtf.quick_form(form, horizontal_columns=('lg', 5, 2), id="add_" + suffix, form_type="horizontal", action="/add_" + suffix) }}
    <hr>
    <hr>
{% endmacro %}