{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_list_helper.html" import render_list, render_list_radio %}

{% block title %}Flasky{% endblock %}
{%- block styles %} 
    {{ super() }}
{%- endblock styles %}
{% block body %}
<div class="page-header">
<h1>Hello Medical.</h1>
</div>

<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" id="flash">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6">
                <span style="font-size: 18px">ID </span><span id="ID" style="font-size: 18px; font-weight: lighter;">{{ data['ID'] }}</span>
                <span style="font-size: 18px">姓名 </span><span style="font-size: 18px; font-weight: lighter;">{{ data['姓名'] | safe }}</span>
                <span style="font-size: 18px">性别 </span><span style="font-size: 18px; font-weight: lighter;">{{ data['性别'] | safe }} </span>
            </div>
            <div class="col-md-6">
                <h4>主诉</h4>
                <span>
                    {{ data['主诉'] | safe }}
                </span>
            </div>
            <div class="col-md-6">
               <h4>现病史</h4>
                <span>
                    {{ data['现病史'] | safe }}
                </span>
            </div>
            <div class="col-md-6">
               <h4>既往史</h4>
                <span>
                    {{ data['既往史'] | safe }}
                </span>
            </div>
            <div class="col-md-6">
               <h4>家族史</h4>
                <span>
                    {{ data['家族史'] | safe }}
                </span>
            </div>
            <div class="col-md-12">
                <h4>体格检查</h4>
                <span>{{ data['体格检查_1'] | safe }}</span><br><br>
                <span>{{ data['体格检查_2'] | safe }}</span><br><br>
                <span>{{ data['体格检查_3'] | safe }}</span><br>
            </div>
            <div class="col-md-12" id="huayan">
                <h4 id="huayan_h4">化验</h4>
                {{ data['化验'] | safe }}
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-lg" id="huayan_btn">收起/展开化验</button>
 
                <button type="button" class="btn btn-success btn-lg" id="ai_support_set" style="float: right;">Check AI support set</button>
                <button type="button" class="btn btn-success btn-lg" id="listen_to_ai" style="float: right;">Listen to AI</button>
            </div>
            <div class="col-md-12" style="height: 20px"></div>
            <div class="col-md-5">
                <form method="post" action="{{ url_for('show.suggest') }}" role="form">
                    <input type="text" name="ID" value="{{ data['ID'] }}" hidden="true">
                    <ul class="list-group" name="diagonls">
                        <li class="list-group-item">
                            <input type="checkbox" name="冠状动脉粥样硬化" class="diagonl_checkbox">
                            冠状动脉粥样硬化
                        </li>
                        <li class="list-group-item">
                            <input type="checkbox" name="动脉粥样硬化" class="diagonl_checkbox">
                            动脉粥样硬化
                        </li>
                        <li class="list-group-item">
                            <input type="checkbox" name="心律失常" class="diagonl_checkbox">
                            心律失常
                        </li>
                        <li class="list-group-item">
                            <input type="checkbox" name="心绞痛" class="diagonl_checkbox">
                            心绞痛
                        </li>
                        <li class="list-group-item">
                            <input type="checkbox" name="急性冠脉综合征" class="diagonl_checkbox">
                            急性冠脉综合征
                        </li>
                        <li class="list-group-item">
                            <input type="checkbox" name="脑梗死" class="diagonl_checkbox">
                            脑梗死
                        </li>
                        <li class="list-group-item">
                            <input type="checkbox" name="高血压" class="diagonl_checkbox">
                            高血压
                        </li>
                        <li class="list-group-item">
                            <input type="checkbox" name="高脂血" class="diagonl_checkbox">
                            高脂血
                        </li>
                    </ul>
                </form>
            </div>
            <div class="col-md-7">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
    <script>
        $("#huayan_btn").click(function() {
            $("#huayan_table").toggle(500);
        });
        $('.diagonl_checkbox').change(function(){                 
        });
        $('#ai_support_set').click(function() {
            $.ajax({
                type: "GET",
                url: "{{ url_for('show.suggest') }}",
                data: {"ID": $("#ID").text()},
                success: function (data) {
                    $('.zhibiao_span').removeClass('text-danger');
                    $('.zhibiao_span').removeClass('text-success');
                    for (var i = data['reds'].length - 1; i >= 0; i--) {
                        $('#span_'+ data['reds'][i]).addClass('text-danger');
                    }
                    for (var i = data['greens'].length - 1; i >= 0; i--) {
                        $('#span_'+ data['greens'][i]).addClass('text-success');
                    }
                },
                dataType: "json"
            });
        });

        $("#listen_to_ai").click(function() {

            $('form').ajaxSubmit({
                url: "{{ url_for('show.suggest') }}",
                type: 'post',
                dataType: 'json',
                beforeSubmit: function () {},
                success: function (data) {
                    $('.zhibiao_span').removeClass('text-danger');
                    $('.zhibiao_span').removeClass('text-success');
                    for (var i = data.length - 1; i >= 0; i--) {
                        $('#span_'+ data[i]).addClass('text-danger');
                    }
                },
                clearForm: false,
                resetForm: false
            });

            var ctx = document.getElementById('myChart').getContext('2d');
            var barChartData = {
                labels: [],
                datasets: [{
                    label: '诊断疾病概率',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: []
                }]
            };
            var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'bar',
                    // The data for our dataset
                    data: barChartData,
                    // Configuration options go here
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    max: 1.0
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontSize: 10
                                }
                            }]
                        }
                    }
            });
            var extractData = function (data) {
                var labels = [];   
                var probabilitys = [];         
                for (var key in data.probabilitys) {
                    labels.push(key);
                    probabilitys.push(data.probabilitys[key][0]);
                }
                return [labels, probabilitys]
            };
            var updateChart = function (data) {
                var ret = extractData(data);
                var labels = ret[0];
                var probabilitys = ret[1];
                barChartData.labels = labels;
                barChartData.datasets[0].data = probabilitys;
                chart.update();
            };
            var handler = function (data) {
                updateChart(data);
            };
            $.ajax({
                type: "POST",
                url: "{{ url_for('show.fake') }}",
                data: {"ID": $("#ID").text()},
                success: handler,
                dataType: "json"
            });
        });
    </script>
{% endblock scripts %}
{% endblock %}